/* -------- Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* -------- Default styles --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: red solid 2px;*/
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    max-width: 100%;
    height: 100vh;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

/* -------- Header --------- */

header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    margin: 0;
}
.logo {
    padding: 0;
}
.logo a {
    border: .1em solid rgb(196, 155, 93);
}
.logo,
.logo a {
    padding: 15px;
    margin: 20px;
    color: #66004A;
    font-family: "Lobster", 'cursive', serif;
}
.menu ul li,
.menu ul li a {
    background-color: #023041;
    flex-wrap: nowrap;
    margin: 2px;
    color: #fff;
    list-style: none;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
}

/* -------- Lovestory Content --------- */

/* -------- Deets Content --------- */

/* -------- BridalParty Content --------- */

/* -------- Registries Content --------- */

/* -------- RSVP Content --------- */

section {
    flex: 1;
}
.form {
    height: 100vh;
}

/* -------- Footer --------- */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-color: #0A6E79;
    padding: 0;
}

.dkblue .logo {
    display: none;
}

.footer .menu,
.footer .menu ul,
.footer .menu ul li {
    margin: 10px 5px;
    list-style: none;
    color: #fff;
}

@media screen and (min-width: 769px) {
    header {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    header,
    .container {
        width: 100%;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu ul li,
    .menu ul li a {
        background-color: transparent;
    }
    header .menu ul {
        background-color: #66004A;
        padding-top: 8px;
    }
    /* Main Content */
}
@media screen and (min-width: 1024px) { 

}