/* -------- Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* -------- Default styles --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: red solid 2px;*/
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
header, section, footer {
    width: 100%;
}

/* -------- Header --------- */

header, footer {
    text-align: center;
    margin: 0 auto;
}
header {
    padding-top: 20px;
}
.logo {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: #66004A;
    font-size: 30px;
}

.logo a {
    padding: 15px;
    border: .1em solid rgb(196, 155, 93);
    margin: 20px;
    color: #66004A;
}

.header .container,
.header .menu,
.header.menu ul,
.header .menu ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 5px;
    margin-bottom: 5px;
}

.menu ul li,
.menu ul li a {
    background-color: #023041;
    flex-wrap: nowrap;
    margin: 2px;
    color: #fff;
}


/* -------- Home section --------- */

.home-section,
.home-section .slide,
.home-section .row,
.home-section .home-content,
.home-section .home-content p,
.home-section .home-content h1,
.home-section .home-content span,
.home-section .slide.active .home-content h1,
.home-section .slide.active .home-content span, 
.home-section .slide.active .home-content p {
    display: none;
}

.happy,
.home-stuff,
.home-stuff p,
.home-stuff h1,
.home-stuff span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}
.happy {
    padding-top: 2px;
    padding-bottom: 0;
    width: 100%;
}
.homeimage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 0.90;
}
.home-stuff {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}
.home-stuff h1 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

/* -------- Footer --------- */

.footer {
    background-color: #0A6E79;
    margin-top: 0;
    padding: 0;
}

.dkblue .logo {
    display: none;
}

.footer .menu,
.footer .menu ul,
.footer .menu ul li {
    margin: 10px 5px;
    list-style: none;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 769px) {
    *:not(i){
        font-family: 'Roboto', sans-serif;
    }
    body {
        margin: 0;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 400;
        margin: 0 auto;
    }
    :before, :after {
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
    }
    header, section, footer {
        display: block;
        width: 100%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .justify-content-between {
        justify-content: space-between;
    }
    .align-items-center {
        align-items: center;
    }
    
    /* Home section */
    .home-section,
    .home-section .slide,
    .home-section .row,
    .home-section .home-content,
    .home-section .home-content p,
    .home-section .home-content h1,
    .home-section .home-content span,
    .home-section .slide.active .home-content h1,
    .home-section .slide.active .home-content span, 
    .home-section .slide.active .home-content p {
        display: block;
    }
    .happy,
    .homeimage,
    .home-stuff,
    .home-stuff h1,
    .home-stuff p,
    .home-stuff span {
        display: none;
    }
    .home-section {
        margin: 0;
        height: 100vh;
        position: relative;
        border-top: 15px solid #66004A;
    }
    .home-section .slide {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        max-height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease-in-out;
        margin: 0;
    }
    .home-section .slide.active {
        opacity: 0.75;
        visibility: visible;
    }
    .home-section .slide:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: -1;
        margin: 0;
    }
    .home-section .row {
        min-height: 100vh;
    }
    .home-section .home-content {
        flex: 0 0 100%;
        margin: 0;
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
    }
    .home-section .slide.active .home-content p{
        opacity: 0;
        animation: fadeInTop 1s ease forwards;
    }
    @keyframes fadeInTop {
        0%{
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .home-section .home-content p {
        font-size: 24px;
        color: #ffffff;
        margin: 0 0 15px;
    }
    .home-section .home-content h1 {
        font-size: 80px;
        color: #ffffff;
        margin: 0;
        font-family: 'Lobster', cursive;
    }
    .home-section .slide.active .home-content h1{
        opacity: 0;
        animation: fadeInTop 1s ease forwards;
        animation-delay: 0.5s;
    }
    .home-section .home-content span {
        padding: 7px 30px;
        font-size: 20px;
        display: inline-block;
        border: 1px solid #0A6E79;
        border-radius: 30px;
        color: #ffffff; 
        margin: 0;
    }
    .home-section .slide.active .home-content span{
        opacity: 0;
        animation: fadeInTop 1s ease forwards;
        animation-delay: 1s;
    }
}